
body {background-color: GhostWhite;}
h1   {color: black; text-align: center;}
p    {color: white;}
button{color:black;background-color: white; text-align: center;}
#totalCredits{color:DeepSkyBlue ;}
#GPA{color:DeepSkyBlue ;}
